@charset "UTF-8";

:root {
    /* 背景色 */
    --bg-base: #FFF;
    --bg-light: #ECEFF4;
    --bg-dark: #2D3440;
    --bg-button: #4C566A;
    --bg-button-hover: #2E3440;
    --bg-icon: #D8DEE9;

    /* アイコンの色 */
    --icon: #5E81AC;
    --icon-light: #ECEFF4;

    /* 文字色 */
    --font-light: #ECEFF4;
    --font-base: #4C566A;

    /* ロゴの色 */
    --logo: #4C566A;
}

/* 初期設定 */
html {
    font-size: 100%;
    color: var(--font-base);
}

body {
    background-color: var(--bg-base);
}

img {
    max-width: 100%;
}

a {
    color: var(--font-base);
    text-decoration: none;
}

/* レイアウト */

.layout {
    /* max-width: 1080px; */
    /* width: 90%; */
    margin: 0 auto;
}

.sec-title {
    text-align: center;
    font-size: 32px;
    line-height: 1.75;
}

/*ボタン*/
.btn {
    background: var(--bg-button);
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto; */
    max-width: 180px;
    padding: 8px 16px;
    color: #fff;
    font-weight: 500;
}

/*=============================
 * Header 
 *============================*/


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    /* max-width: 1080px; */
    width: 90%;
}



/*======================================
 * Main
 *====================================*/

/*----page-top------------------------*/

.flex01 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 100px;
}

.bg-change {
    background-color: var(--bg-light);
}

.flex__left {
    margin: 0 18px;
}

.flex01 .flex__left .flex__left__title {
    font-size: 38px;
    line-height: 1.75;

}

.flex01 .flex__left .flex__left__catch {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.75;
    position: relative;
}

.flex01 .flex__left .flex__left__catch::before {
    content: '';
    display: block;
    position: absolute;
    top: .5em;
    left: -1.5em;
    width: 10px;
    height: 5px;
    border-left: 3px solid #9c9c9c;
    border-bottom: 3px solid #9c9c9c;
    transform: rotate(-45deg);
}

.flex01 .flex__right {
    width: 480px;
}

.register_btn {
    margin-top: 20px;
    position: relative;
}

.register_btn::before,
.register_btn::after {
    content: "";
    position: absolute;
    top: 0 ;
    bottom: 0;
    right: 10px;
    margin: auto;
}

.register_btn::after {
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--icon-light);
    border-right: 2px solid var(--icon-light);
    transform: rotate(45deg);
}

.register_btn::before {
    width: 14px;
    height: 2px;
    background-color: var(--icon-light);
}

/* .top .top__wave-img {
    display: block;
} */

/*==============================
 * こだわりセクション
 *============================*/

.obsession {
    max-width: 90%;
    width: 90%;
}

.sec-title--dark {
    text-align: center;
}

.flex02 {
    display: flex;
    margin: 0 auto;
    margin-top: 18px;
}

.flex02__item {
    text-align: center;
    margin: 0 auto;
}

.flex02 .flex02__item .flex02__item__title {
    margin-top: 18px;
}

.flex02 .flex02__item .flex02__item__text {
    width: 320px;
    margin-top: 18px;
}
.flex02 .flex02__item .flex02__item__img {
    border-radius: 20px;
    background: var(--bg-icon);
    　
}

/*========================================
 * 機能セクション
 *======================================*/

.function__top__border {
    vertical-align: bottom;
}

.function {
    color: #fff;
    background: var(--bg-dark);
    padding: 0 40px;
}

.flex03__item {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.flex03__item:nth-of-type(2) {
    flex-flow: row-reverse;
}

.flex03 .flex03__item__img {
    width: 55%;
}

.flex03 .flex03__item {
    margin-top: 48px;
    
}

.flex03 .flex03__item .flex03__text__wrapper {
    flex: none;
    width: 40%;
    margin: 0 50px;
}

/* フッター */
.footer {
    width: 90%;
    margin: 0 auto;
}

.flex04 {
    display: flex;
    justify-content: space-between;
}